
@media only screen and (min-width: 992px) and (max-width: 1080px){
    .nav-item{
        margin-left: 6px;
    }
    .text-home img{
        width: 30%;
    }


}
@media  (min-width: 0px) and (max-width: 1000px) {
    .content-home{
        padding-top: 60px;
    }
    .phone-img{
        width: 38%;
        text-align: center;
    }

}

@media (min-width: 0px) and (max-width: 768px) {
    .container-fluid{
        padding-left: 40px;
        padding-right: 40px;
    }
    .bar-btn{
        display: inline-block;
    }
    .cart {
        width: 389px;
        height: 243px;
    }
    .cart img:first-child{
        width: 389px;
        height: 243px;
        bottom: 20px;
        left: 20px;
    }
    .cart img:nth-child(2){
        bottom: 220px;
        right: 95px;
        width: 175px;
     }
    .content-home{
        padding-top: 60px;
    }
    .news-item{
        display: flex;
        flex-direction: column;
    }

    .phone-wrapper img{
        width: 50%;
    }
    .app-pattern{
        width: 100%;
    }
    #main-page .container{
        padding-left: 10px;
        padding-right: 10px;
    }






}
@media  (min-width: 0px) and (max-width: 576px) {
    .cart {
        width: 289px;
        height: 143px;
    }
    .cart img:first-child{
        width: 289px;
        height: 143px;
        bottom: 21px;
        left: 13px;
    }
    .cart img:nth-child(2){
        bottom: 165px;
        right: 65px;
        width: 150px;
    }
    .products .owl-carousel .owl-item img {
        width: 13%;
    }
    .profile{
        justify-content: center;
    }
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

}
@media  (min-width: 0px) and (max-width: 993px) {
.content-home2{
    padding: 30px 0px 0 0px;
}
    .links-wrapper{
        width: 35%;
    }
    .main-title{
        width: 100%;
    }

    }